@{
    ViewBag.Title = "O aplikacji";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Aplikacja "Pani z dziekanatu" to aplikacja która ma za zadanie ułatwiać komunikację studenta z dziekanatem.</p>
<p>Napisana przez studentów którzy doskonale wiedzą co to znaczy stać w kolejce po stypendium, legitymację czy przedłużenie sesji.</p>
<p>Projekt open-source na licencji MIT, wykonany w ramach przedmiotu Projekt Zespołowy pod kierownictwem mgr. inż. M. Apolinarskiego.</p>
