@model dynamic

@{
    ViewBag.Title = "Zapisywanie sie na przedluzenie legitymacji";
}

<h2>Zapisz się na wolny termin przedłużania legitymacji już dziś!</h2>
<div class="row">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Marzec 2017</a></li>
                <li><a href="#tab2default" data-toggle="tab">Październik 2017</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    <img class="img-responsive image-responsive" src="~/Content/Images/kalendarz-marzec.jpg" />
                    <span class="calendar calendar-1"></span>
                    <span class="calendar calendar-2"></span>
                    <span class="calendar calendar-3"></span>
                    <span class="calendar calendar-4"></span>
                    <span class="calendar calendar-5"></span>
                    <span class="calendar calendar-6"></span>
                    <span class="calendar calendar-7"></span>
                    <span class="calendar calendar-8"></span>
                    <span class="calendar calendar-9"></span>
                    <span class="calendar calendar-10"></span>
                </div>
                <div class="tab-pane fade" id="tab2default">
                    <img class="img-responsive image-responsive" src="~/Content/Images/kalendarz-pazdziernik.jpg"/>
                    <span class="calendar calendar-1 cal-1"></span>
                    <span class="calendar calendar-2 cal-2"></span>
                    <span class="calendar calendar-3 cal-3"></span>
                    <span class="calendar calendar-4 cal-4"></span>
                    <span class="calendar calendar-5 cal-5"></span>
                    <span class="calendar calendar-6 cal-6"></span>
                    <span class="calendar calendar-7 cal-7"></span>
                    <span class="calendar calendar-8 cal-8"></span>
                    <span class="calendar calendar-9 cal-9"></span>
                    <span class="calendar calendar-10 cal-10"></span>
                </div>
            </div>
        </div>
    </div>
</div>