@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3 style="padding-top: 30px;">@ViewBag.Message:</h3>

<address>
    <strong>Mateusz Byczkowski BSI-1, E-mail:</strong>   <a href="mailto:mateusz.byczkowski@student.put.poznan.pl">mateusz.byczkowski@student.put.poznan.pl</a><br />
    <a class="btn btn-default" href="https://github.com/mateuszbyczkowski">Link do GitHub</a><br /><br />
    <strong>Bartosz Dominiak BSI-1, E-mail:</strong> <a href="mailto:bartosz.dominiak@student.put.poznan.pl">bartosz.dominiak@student.put.poznan.pl</a><br />
    <a class="btn btn-default" href="https://github.com/bartoszdominiak">Link do GitHub</a><br /><br />
</address>

