@using System.Activities
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron pos-relative">
    <h1>Pani z dziekanatu - Panel pracownika</h1>
    <p class="lead">Aplikacja która ułatwi Państwu życie, Miłej pracy!</p>
</div>

<div class="row">
    <center><img id="home-img" src="~/Content/Images/2.jpg" /></center>
</div>