
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje formularze</h2>
<h3 style="margin-bottom: 50px;">Wybierz rodzaj formularza który chcesz sprawdzić</h3>
<div class="container">
    <div class="row">
        <input class="input-style btn btn-primary btn-lg btn-block" type="button" value="Wniosek o przedłużenie czasu rejestracji (sesji) &raquo;" onclick="location.href='@Url.Action("Przedluzenia","FormList")'" />
        <input class="btn btn-primary btn-lg input-style btn-block" type="button" value="Wniosek o powtarzanie przedmiotu! &raquo;" onclick="location.href='@Url.Action("Warunki","FormList")'" />
    </div>
</div>